body {
	margin:0;
	background-image:url("image/17859583690_1f80f41042_o.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	width:100%;
}

div.header {
	overflow:hidden;
}

nav {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:black;
	overflow:auto;
	z-index:1; /**to avoid body content being displayed on top of nav . any positive real number*/
	position:sticky;
	top:0;
	width:100%;
}

li {
	float:left;
}

li a {
	display:block;	
	text-align:center;
	text-decoration:none;
	padding:14px 16px;
	color:white;
}

li a:hover {
	background-color:#ff9900;
	color:pink;
}

li a.active {
	background-color:salmon;
	color:black;
}

li.loginSignup {
	float:right;
}

p {
	color:white;
}

/* login */
#loginHeading {
	color:white;
	text-align:center;
}

#loginForm {
	background-color:rgba(255,255,255,0.4);
	padding:20px 80px;
}

#loginDivContainer {
	margin-top:40px;
	width:30%;
	background-color:rgba(255,255,255,0.6);
}

/* Sign up */
#signUpFormHeading {
	text-align:center;
}

div.input-container {
	text-align:center;
}

#submit_btn{
	padding:10px 35px;
	border-radius:50px;
	margin-top:15px;
	display:inline-block;
	letter-spacing:2px;
}
/**
.wrapper{
	position:relative;
	width:auto;
	height:auto;
	display:inline-block;
	top:50%;
	left:50.5%;
	margin-top:180%;
	transform:translate(-50%,-50%);
	background:transparent;
} */

.input-group{
	position:relative;
	margin:30px 40px;
}

/**
input{
	font-size:18vw;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:1px solid #ddd;
	background:white;
	color:black;
}
*/

.input_class {
	font-size:18px;
	padding:10px 10px 10px 5px;
	border-radius:20px;
	width:80%;
	border:1px solid #ddd;
	background:white;
	color:black;
}


.input:focus{
	outline:none;
}

.form_label{
	color:gray;
	font-size:18px;
	position:absolute;
	pointer-events:none;
	left:10px;
	top:10px;
	transition:0.3s ease all;
}


input:focus ~ label,
input:valid ~ label{
	top:-25px;
	font-size:16px;
	color:#F11F76;
	left:20px;
}

.radio_class{
	margin-left:50px;
	font-size:18px;
}

.checkox_class{
	margin-left:35px;
	font-size:18px;
}

input[type='radio'] {
    transform:scale(1.5);
	margin-right: 5px;
}

input[type='checkbox'] {
    transform:scale(1.5);
}

.bias_btn{
	background-color:blue;
}

.submit_btn{
	border-radius:25px;
	letter-spacing:2px;
	margin-bottom:50px;
	width:80%;
}
@media screen and (max-width: 600px) {
  .input-group, .form-group, #loginDivContainer, .col-sm-6 {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
	.radio_class {
    width: 100%;
    margin-top: 0;
	margin-left: 50px;
	font-size:large;
  }
}

@media screen and (max-width: 600px) {
	input[type='radio'] {
    transform:scale(2);
	margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
	input[type='checkbox'] {
    transform:scale(2);
  }
}
@media screen and (max-width: 600px) {
	.second_checkbox {
	margin-top: -1px; /**not working */
  }
}
