body {
	margin:0;
	background-image:url("image/17859583690_1f80f41042_o.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
}

div.header {
	overflow:hidden;
}

ul.nav {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:gray;
	overflow:auto;
	position:sticky;
	top:0;
	width:100%;
}

li {
	float:left;
}

li a {
	display:block;	
	text-align:center;
	text-decoration:none;
	padding:14px 16px;
	color:white;
}

li a:hover {
	background-color:black;
	color:pink;
}

li a.active {
	background-color:salmon;
	color:black;
}

li.loginSignup {
	float:right;
}

p {
	color:white;
}

/* login */
#loginHeading {
	color:white;
	text-align:center;
}

#loginForm {
	background-color:rgba(255,255,255,0.4);
	padding:20px 80px;
}

#loginDivContainer {
	margin-top:40px;
}

/* Sign up */
#signUpFormHeading {
	text-align:center;
}

div.input-container {
	text-align:center;
}

#submit_btn{
	padding:10px 35px;
	border-radius:50px;
	margin-top:15px;
	display:inline-block;
	letter-spacing:2px;
}
/**
.input-group{
	position:relative;
	margin:0px;
	margin-top:30px;
	margin-bottom:20px;
}
/**
input{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:1px solid #ddd;
	background:transparent;
	color:cyan;
}
*/
/**
.input:focus{
	outline:none;
}

.form_label{
	color:gray;
	font-size:16px;
	position:absolute;
	pointer-events:none;
	left:10px;
	top:8px;
	transition:0.3s ease all;
}


input:focus ~ .form_label{
	top:-28px;
	font-size:16px;
	color:blue;
}